rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() { return request.auth != null; }

    function role() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    function isAdmin() { return signedIn() && role() == "admin"; }
    function isMech()  { return signedIn() && role() == "mechanic"; }

    match /users/{uid} {
      allow read: if signedIn() && (request.auth.uid == uid || isAdmin());
      allow write: if isAdmin();
    }

    match /customers/{id} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /vehicles/{id} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /workorders/{id} {
      allow read: if isAdmin()
        || (isMech() && resource.data.assignedTo == request.auth.uid);

      // admin crée les réparations
      allow create: if isAdmin();

      // admin modifie tout
      // mécanicien modifie seulement ses réparations (sans pouvoir changer assignedTo)
      allow update: if isAdmin()
        || (isMech()
            && resource.data.assignedTo == request.auth.uid
            && request.resource.data.assignedTo == resource.data.assignedTo);

      allow delete: if isAdmin();
    }

    match /appointments/{id} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /meta/{id} {
      allow read, write: if isAdmin();
    }
  }
}
